@import "tailwindcss";

@font-face {
  font-family: Aurebesh;
  src: url(./assets/Aurebesh.otf);
}

:root {
  --turquoise: #59d9f1;
  --bleu-clair: #2873ce;
  --bleu-tres-clair: #bee2ff;
  --bleu-clair-transparent: #2873ce75;

  font-family: Aurebesh;
  line-height: 1.5;
  font-weight: 100;
}