@import "tailwindcss";

@font-face {
  font-family: Aurebesh;
  src: url(./assets/Aurebesh.otf);
}

:root {
  font-family: Aurebesh, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 100;
}